<h1>The Lost Glitches Cards</h1>

<h3>Filters:</h3>
<div style="display: flex; flex-wrap: wrap; width: vw;">
<div class="filter-box">
<h4>Syndicates</h4>
<ul>
    <% @syndicates.each do |syndicate| %>
        <% unless syndicate == nil %>   
            <li><%= link_to syndicate, root_path(syndicate: syndicate) %></li>
        <% end %>
    <% end %>
</ul>
</div>
<div class="filter-box">
<h4>Rarity</h4>
<ul>
    <% @raritys.each do |rarity| %>
        <li><%= link_to rarity, root_path(rarity: rarity) %></li>
    <% end %>
</ul>
</div>
<div class="filter-box">
<h4>Drops</h4>
<ul>
    <% @drops.each do |drop| %>
        <li><%= link_to drop, root_path(drop: drop) %></li>
    <% end %>
</ul>
</div>
<div class="filter-box">

<h4>Types</h4>
<ul>
    <% @types.each do |type_of_card| %>
        <li><%= link_to type_of_card, root_path(type_of_card: type_of_card) %></li>
    <% end %>
</ul>
</div>
<div class="filter-box">

<h4>Subtypes</h4>
<ul>
    <% @subtypes.each do |subtype| %>
        <li><%= link_to subtype, root_path(subtype: subtype) %></li>
    <% end %>
</ul>
</div>
<div class="filter-box">

<h4>Talents</h4>
<ul>
    <% ["Aggressor", "Bit Thirsty", "Contagious", "Extraction", "Overflow", "Predictive Strike", "Protector", "Regenerate", "Surge", "Troll"].each do |talent| %>
        <li><%= link_to talent, root_path(talent: talent) %></li>
    <% end %>
</ul>
</div>
<div class="filter-box">

<h4>Enery Cost</h4>
<ul>
    <% @energy_costs.each do |energy_cost| %>
        <li><%= link_to energy_cost, root_path(energy_cost: energy_cost) %></li>
    <% end %>
</ul>
</div>
</div>
<ul>
    <% @cards.each do |card| %>
        <li><%= link_to card.name, card_path(card) %></li>
    <% end %>
</ul>